git rm -r --cached ./venvs/
/.idea/
/docs/_build/
/dist/
/Documentation NMRQ.docx
/RMNQ_Template.xlsx
/nmrq_test/
/210428_Cahier des charges pour les sorties graphiques de NMRQUANT.docx
/venv/
/.ipynb_checkpoints/
/.pytest_cache/
